/* Font Color */

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a,
#header .logo a,
#hero .container h1 span,
.counts .counters span,
.why-us .content .more-btn:hover,
.why-us .icon-boxes .icon-box i {
    color: #42A5F5 !important;
}

/* Bg color */
.get-started-btn,
.why-us .content,
.breadcrumbs {
    background: #42A5F5;
}

/* Bg color onHover */

.get-started-btn:hover,
.btn-get-started:hover,
.why-us .icon-boxes .icon-box i:hover {
    color: #fff !important;
    border-color: #1E88E5 !important;
    background: #1E88E5 !important;
}

#hero .container {
    cursor: default;
}

.blur-section {
    filter: blur(0.4rem);
}



/* transition */
/* #hero .container h1 span{
    display: none;
    transition: all 3s;

}
#hero .container h1 span{
    display: inline;
    color: red !important;
} */


.popular-scholarship-btn,
.search-form input[type=submit] {
    background-color: #42A5F5 !important;

}

.popular-scholarship-btn:hover,
.search-form input[type=submit]:hover {
    color: #fff !important;
    background-color: #1E88E5 !important;
}

.custom-border {
    border-radius: 5px;
    border: 1px solid !important;
}

 .search-form #searchInput:focus {
    border-width: 0 !important;

}
